.btn {
  appearance: none;
  outline: none;
  border-color: transparent;

  &-toolbar {
    height: 48px;
    min-width: 48px;
  }

  &-toolbar,
  &-icon {
    display: inline-grid;
    place-content: center;
    line-height: 0;
  }

  &:not(:disabled) {
    cursor: pointer;
    opacity: 1;

    &:focus,
    &:active {
      position: relative;
      box-shadow: 0 0 0 2px var(--color-indigo-500);
      z-index: 10;
    }
  }
}
