@use '../config/index.scss' as config;

html:has(.layout) {
  &,
  body {
    height: 0;
    position: static;
    width: 100%;
    overflow: visible;
    top: 0;
    left: 0;
  }

  body {
    margin: 0;
  }
}

.layout {
  min-height: 100svh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  padding-left: #{config.$sidebar-width * 1px}; // account for fixed sidebar
  padding-bottom: #{config.$toolbar-height * 2px}; // account for fixed toolbar stack
}

.toolbar,
.toolbar-stack {
  display: flex;
}

.toolbar-stack {
  flex-direction: column;
}

$displays: (flex, inline-flex, block, inline-block, grid, inline-grid);
$items: (start, sp-around, sp-between, sp-evenly, center, end);

@each $display in $displays {
  .#{$display} {
    display: #{$display};
  }
}

@each $orientation in $items {
  .items-#{$orientation} {
    align-items: #{$orientation};
  }

  .justify-#{$orientation} {
    justify-content: #{$orientation};
  }
}
