.protobooth {
  .version-info {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 15;
    background: var(--color-zinc-950);
    color: var(--color-zinc-100);
    opacity: 0.5;
    transform: translate(-24px, -100%);
    font-size: calc(12 / 16) * 1rem;
    padding: 0.5ch 1.5ch;
    border-radius: 2px 3px 0 0;
    transition: all ease-in 160ms;

    &:hover {
      opacity: 1;
    }
  }
}
