@use '../config/index.scss' as config;

.protobooth .toolbar-stack {
  position: fixed;
  flex-direction: column;
  left: #{config.$sidebar-width * 1px};
  bottom: 0;
  width: calc(100% - #{config.$sidebar-width * 1px});
  z-index: 1;
  border-top: 1px solid var(--border-color);
  background: var(--panel-background);
}

.protobooth .toolbar-section {
  max-height: #{config.$toolbar-height * 1px};
}
